<simple-greeting name="World"></simple-greeting>

<mwc-textfield label="Textfield" [value]="textfield" (input)="inputTextfield($event)"></mwc-textfield>
{{ textfield }}

<wc-hello hello-text="Hello Angular" (hello-click)="helloClick($event)">
  ({{ text }})
</wc-hello>

<wc-hello [helloText]="'Hello Angular'" (helloClick)="helloClick($event)">
  ({{ text }})
</wc-hello>

<wc-switch [checked]="checked" (change)="changeWcSwitch($event)">
  Switch in Angular ({{ checked }})
</wc-switch>

<wc-switch [checked]="checked" disabled (change)="changeWcSwitch($event)"></wc-switch>

<a routerLink="/">Home</a> /
<a routerLink="/text-field">Text Field</a>

<div>
  <router-outlet></router-outlet>
</div>
